Flask==2.3.2
Flask_PyMongo==2.3.0
numpy==1.24.3
pandas==2.0.1
psycopg2_binary==2.9.6
pymongo==4.3.3
python-dotenv==1.0.0
Requests==2.30.0
Flask-Session==0.5.0
scipy==1.10.1
bcrypt==4.0.1
flask-bcrypt==1.0.1
flatten_json==0.1.13